<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<title>book management</title>
</head>
<body class="container-fluid">
	<h1>Book Management</h1>
	<div id="app">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>isbn</th>
					<th>Title</th>
					<th>Author</th>
					<th>Release Date</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="book in books">
					<td>{{ book.isbn }}</td>
					<td>{{ book.title }}</td>
					<td>{{ book.author }}</td>
					<td>{{ book.releaseDate }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/book/app.js}"></script>
</body>
</html>