<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<title>book management</title>
</head>
<body class="container-fluid">
	<div id="app">
		<router-view></router-view>
	</div>
	<script type="text/x-template" id="page-index">
	<div>
		<h1>Book List</h1>
		<router-link style="margin-bottom: 10px" class="btn btn-primary" to="new">new Book</router-link>
		<form v-on:submit.prevent="searchByTitle">
			<div class="input-group ">
				<input type="text" class="form-control" name="searchValue"
					placeholder="search by title" ref="searchValue" />
				<div class="input-group-append">
					<button class="btn btn-primary" type="submit">
						<i class="fa fa-search"></i>
					</button>
				</div>
			</div>
		</form>
		<div style="margin-top:10px" v-if="books.length===0" class="alert alert-primary">データがありません</div>
		<table v-if="books.length > 0" class="table table-striped">
			<thead>
				<tr>
					<th>isbn</th>
					<th>title</th>
					<th>author</th>
					<th>release date</th>
					<th>action </th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="book in books">
					<td>{{ book.isbn }}</td>
					<td>{{ book.title }}</td>
					<td>{{ book.author }}</td>
					<td>{{ book.releaseDate }}</td>
					<td><router-link v-bind:to="{ name: 'edit', params: { bookId: book.bookId }}"><i
						class="fa fa-edit text-secondary"></i></router-link>
						<router-link v-bind:to="{ name: 'delete', params: { bookId: book.bookId }}"><i
						class="fa fa-trash text-danger"></i></router-link>
					</td>
				</tr>
			</tbody>
		</table>		
	</div>
  	</script>
	<script type="text/x-template" id="page-input">
	<div>
	<h1>{{mode}}</h1>
	  	<form v-on:submit.prevent="execute">
			<div class="form-group">
				<label for="isbn">isbn</label> <input type="number"
					class="form-control" id="isbn"
					placeholder="enter isbn"
					name="isbn" v-model="form.isbn" v-bind:readonly="readOnly">
			</div>
				<div class="form-group">
				<label for="title">title</label> <input 
					class="form-control" id="title" placeholder="enter title"
					name="title" v-model="form.title" v-bind:readonly="readOnly">
			</div>
			<div class="form-group">
				<label for="isbn">author</label> <input 
					class="form-control" id="isbn" placeholder="enter author"
					name="author" v-model="form.author" v-bind:readonly="readOnly">
			</div>
			<div class="form-group">
				<label for="release-date">release date</label> <input
					type="date" class="form-control" id="release-date"
					placeholder="enter release date"
					name="releaseDate" v-model="form.releaseDate" v-bind:readonly="readOnly">
			</div>
			<router-link class="btn btn-light" v-bind:to="{name:'index'}">Back to index</router-link>
			<button type="submit" class="btn btn-primary" v-bind:disabled="isButtonDisabled">{{mode}}</button>
		</form>
	</div>		
	</script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
	<script src="https://unpkg.com/vue-toasted"></script>
	<script th:src="@{/js/book/vue/app.js}"></script>
</body>
</html>